<h1>TYDES</h1>
<p>
	This is the home page for the TYDES project.
</p>

<div class="center hero-unit">
	<h1>Welcome to the TYDES Project</h1>

	<h2>
		This is the home page for the <a href="http://railstutorial.org/">TYDES</a> application.
	</h2>
	<%= link_to "Start now!", start_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
