<% provide(:title, @detection.code) %>

<h2>Training</h2>

<div class="row-fluid">
	<div class="well well-small span12">
		<div class="row-fluid">
			<div class="span10 offset1">
				<p>
					Carefully look at examples for both classes. When you are ready to continue, press the button below.
				</p>
				<p>
					Training examples will remain visible during the next phase as a reference.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span6 well pull-left">
		<a name="samples"></a>
		<div class="row-fluid">
			<div class="span12">
				<p>&nbsp;</p>
				<h3><span class="label label-info">Mitotic samples</span></h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 withscroll">
				<% (0..35).each do |row_index| %>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% (0..5).each do |col_index| %>
								<li class="span2">
									<a href="#samples" class="thumbnail">
										<% code = @positive_keys[row_index * 6 + col_index] %>
										<%= image_tag(@detection.positive_training[code][1], alt: code, title: code) %>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="span6 well pull-right">
		<div class="row-fluid">
			<div class="span12">
				<p>&nbsp;</p>
				<h3><span class="label label-warning">NON Mitotic samples</span></h3>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 withscroll">
				<% (0..35).each do |row_index| %>
					<div class="row-fluid">
						<ul class="thumbnails">
							<% (0..5).each do |col_index| %>
								<li class="span2">
									<a href="#samples" class="thumbnail">
										<% code = @negative_keys[row_index * 6 + col_index] %>
										<%= image_tag(@detection.negative_training[code][1], alt: code, title: code) %>
									</a>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12 well divCenter">
		<%= link_to "CONTINUE TO NEXT PHASE", test_detection_path(@detection), class: "btn btn-primary" %></br>
		<p class="text-info">
			<small>(training examples will remain visible)</small>
		</p>
	</div>

</div>
