<% provide(:title, @detection.code) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= thumb_for @detection.user %>
				<%= @detection.code %>
			</h1>
		</section>
	</aside>
</div>
<p>
	<span class="demoLabel">Action it in 5 seconds:</span> 
	<span id="shortly" class="countdown"></span>&nbsp;
	<button type="button" id="shortlyStart">Start</button>
</p>
<p style="clear: both;">
	<span class="demoLabel">&nbsp;</span>
	<span id="monitor"></span>
</p>