<% provide(:title, @detection.code) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= thumb_for @detection.user %>
				<%= @detection.code %>
			</h1>
		</section>
	</aside>
</div>
