<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">TYDES Project</a>
		by Claudio Caccia
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="#">News</a></li>
		</ul>
	</nav>
</footer>
