<footer class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<ul class="nav pull-left">
				<li>
					<%= link_to "TYDES Project", '#', class: "brand" %>
				</li>
				<li class="header">author: Claudio Caccia</li>
			</ul>
			<ul class="nav pull-right">
				<li class="divider-vertical"></li>
				<li><%= link_to " ",    detections_path %></li>
			</ul>
		</div>
	</div>
</footer>
