<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to "TYDES", '#', id: "logo", class: "brand" %>
			<nav>
				<ul class="nav pull-right">
					<li class="header">View results:</li>
					<li>
						<form class="navbar-search">
							<input type="text" class="search-query" placeholder="insert code...">
						</form>
					</li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Home",    root_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Help",    help_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
