<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to "Mitosis Detection Experiment", '#', id: "logo", class: "brand" %>
			<nav>
				<ul class="nav pull-right">
					<li class="header">View results:</li>
					<li>
						<form class="navbar-search" action="/detections/search" method="get">
							<input type="text" name="code" class="search-query" placeholder="insert code..." maxlength="5"/>
						</form>
					</li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Home",    root_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
